/* Default light mode */
body.light-mode {
    background-color: white;
    color: black;
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: black;
    color: white;
  }
  
  #card:hover{
    background: linear-gradient(black,rgb(78, 0, 123),rgb(134, 192, 253));
    color: black;
  }