/* Default light mode */
body.light-mode {
    background-color: white;
    color: black;
  }
  
  /* Dark mode */
  body.dark-mode {
    background-color: black;
    color: white;
  }
  .slotmachine:hover{
    background: linear-gradient(black,rgb(78, 0, 123),rgb(202, 111, 241));
    color: black;
  }
  .dicegame:hover{
    background: linear-gradient(black,rgb(78, 0, 123),rgb(202, 111, 241));
    color: black;
  }
  .rockpaper:hover{
    background: linear-gradient(black,rgb(78, 0, 123),rgb(202, 111, 241));
    color: black;
  }
  .rockpaper p{
    color: pink;
  }